* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}

img {
    max-width: 100%;

}

.wrapper {
    min-height: 100%;
    background-color: #252525;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}

.hero {
    background: url(../img/content/золотой\ бургер\ .jpg) no-repeat center/cover;
    height: 100vh;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    height: 42px;
    width: 52px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin: 0px;
}



.btn {
    padding: 15px 37px;
    background: #F6762C;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;


}

.hero__content {
    max-width: 49%;
    padding-top: 186px;
    margin-bottom: 20px;
}



.hero__headline {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.1em;
}

.tittle {
    color: white;
    font-size: 57px;
    line-height: 1.18;
    font-weight: 500;
}

.hero__tittle {
    margin-bottom: 25px;
}

.hero__desc {
    color: rgba(255, 255, 255, 0.712);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 42px;
}

.food {
    padding: 115px 0px 102px;
}












.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: calc(25% - 23px);
}

.dish {

    background-color: #312F30;
    border-radius: 10%;
    overflow: hidden;
}

.dish__img-wrap {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.dish__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish__desc {

    padding: 28px 35px 35px;
    padding-top: 28px;
    text-align: center;

}

.dish__tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;

}

.dish__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.order {
    background: #312F30;
    padding: 73px 0px;
}

.order__container {
    display: flex;
    align-items: center;
}

.container__img-wrap {
    width: 50%;
}

.order__img {
    width: 100%;
    height: 100%;
}

.order__action {
    max-width: 371px;
}

.order__desc {
    width: 50%;
    display: flex;
    justify-content: center;
}



.action__tittle {
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    margin-bottom: 24px;
}

.action__text {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.action__price {
    margin-bottom: 13px;
}

.action__price-new {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;

    color: #F6762C;
}

.action__price-old {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(246, 118, 44, 0.501);
}

.product {
    padding: 150px 0px 146px;
}
.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    row-gap: 30px;
}
.product__item {
    width: 48.7%;
    height: 300px;
    object-fit: cover;
    
}
.offer {
    position: relative;
}
.offer__img {
    width: 100%;
    width:  100%;
}

.offer__action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
width: 47.6%;
right: 0;
}
.product__item:nth-child(even) .offer__action{
    left: 50px;
    right: auto;
}

.offer__action-tittle {
    font-size: 30px;
line-height: 1.16;
}
.action__text {
    font-size: 16px;
line-height: 19px;
margin-bottom: 11px;
}
.offer__action-text {
}

.offer__price {
    margin-bottom: 11px;
}

.offer__price-new {
    font-size: 16px;
}


.btn--size--smal {
    
    font-size: 12px;
    padding: 13px 36px  ;
}
